$cc-background-page: #ffc400;
$cc-brand-beige: #ae8f6a;
$cc-brand-black: #262a2a;
$cc-brand-pink: #ff80a4;
$cc-brand-beige: #e4cfb0;
$cc-brand-yellow: #f5d03a;
$cc-brand-blue-light: #6cc7c0;
$cc-brand-blue-dark: #36a198;

.cookieClickerSection {
  background-color: $cc-background-page;
  height: 100vh;
}
